@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Montserrat', sans-serif;
}

/* Barre de défilement verticale */
::-webkit-scrollbar {
    width: 8px;
    /* Largeur de la barre de défilement */
}

::-webkit-scrollbar-track {
    background: #655ce081;
    /* Couleur de fond de la piste de défilement */
}

::-webkit-scrollbar-thumb {
    background: #2415ff;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1567ff;
    /* Couleur de la poignée de défilement au survol */
}

/* message & erreur */
.message {
    animation: fadeIn 0.5s 0s ease forwards;
}

.projets{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
}
.move-elem-1{
    animation: animate-background 6s infinite ease;
}
.move-elem-2{
    animation: animate-background 8s infinite ease;
}
.move-elem-3{
    animation: animate-background 10s infinite ease;
}
.move-elem-4{
    animation: animate-background 12s infinite ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes animate-background{
    0%{
        opacity: 0;
        transform: translateY(-100%) translateX(-25%);
    }
    50%{
        opacity: 0.9;
    }
    100%{
        opacity: 0;
        transform: none
    }
}